.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    padding: 1.6rem 2.4rem;
  }

  &--outline {
    border: 1px solid currentColor;
  }
}
