.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.6rem 2.4rem;
    border: 3px solid currentColor;
  }

  &--primary {
    color: var(--colo-primary);
  }
}
