:root {
  --text-font: 'Poppins', sans-serif;

  --color-primary: #0a0908;
  --color-primary-medium: #a4a3a3;
  --color-primary-light: #f7f6f6;
  --color-secondary: #3b78ff;
  --color-white: #ffffff;

  --shadow-primary: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
