@use '../abstracts' as a;

.footer {
  color: var(--color-white);

  &__nav {
    background-color: var(--color-primary);
    padding: 3rem 0;
  }

  &__link {
    color: inherit;
  }

  &__copyright {
    padding: 1.6rem 0;
    background-color: var(--color-primary-medium);
    font-size: 1.2rem;
  }
}
