@use '../abstracts' as a;

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  &__promo {
    height: 3rem;
    background-color: var(--color-primary);
  }

  &__logo {
    display: block;
    width: 90px;
    margin-right: auto;
    animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &__icon-box {
    display: flex;
    align-items: center;
  }

  &__count {
    font-size: 1.2rem;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
